<% if flash[:warning] %>
    <div class="notice"><%= flash[:warning] %></div>
<% end %>

<div class="d-flex flex-column align-items-center justify-content-center"
     id="mainContent">
   <div class="w-75 d-flex justify-content-center shadow-lg bg-white p-3" style="height:100vh;">
    <div class="container">
      <div class="col-5">
        <div class="card p-3 m-5">
          <%= form_for @user do |f|%>
            <div class="form-group">
              <%= f.label :username%><br>
              <%= f.text_field :username, class: 'form-control has-validation, autofocus: true'%><br>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
              <%= f.label :password %><br>
              <%= f.password_field :password, class: 'form-control'%><br>
              <%= f.submit 'Sign me up', :class => 'btn btn-default btn-lg btn-submit'%>
              <%= link_to "Cancel", '/login'%>
            </div>

          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
