<div class="d-flex flex-column align-items-center justify-content-center " id="mainContent">
  <div id="carouselIndicators" class="carousel slide carousel-fade w-100 shadow-lg" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
      <li data-target="#carouselIndicators" data-slide-to="2"></li>
      <li data-target="#carouselIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("North-Hlth-Sci-Bldg900x416.jpg", class: "d-block w-100", alt: "North Seattle Campus") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("placeholder2.png", class: "d-block w-100", alt: "Android") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("placeholder.png", class: "d-block w-100", alt: "Career") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("placeholder2.png", class: "d-block w-100", alt: "Ethics") %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center"
       id="mainContent"
       style="background-image: url('../../assets/images/paper-texture-structure-stained-paper.jpg')">

    <div class="w-75 d-flex justify-content-around shadow-lg bg-white p-3" id="community">
      <div class="container col-9" height="500">
        <div class="d-flex justify-content-center row mb-5" id="discord">
          <div class="col-6">
            <h1 style="margin-top: 20px;">We're a community of students who came together... </h1>
          </div>
          <div class="col-6" >
            <div class="card w-100 shadow bg-white p-3">
              <iframe src="https://discord.com/widget?id=564559681339785228&theme=dark"
                      width="100%"
                      height="350"
                      allowtransparency="true"
                      frameborder="0"
                      sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-75 d-flex justify-content-center shadow-lg bg-white p-3" id="events">
      <div class="container col-9">
        <div class="row mb-5">
          <h1 class="text-right my-5">...looking to build skills...</h1>
        </div>
        <div class="row mb-5">
          <%= image_tag("allthetech.png", class: "d-block w-100", alt: "Firebase Logo") %>
        </div>
      </div>

    </div>

    <div class="w-75 d-flex justify-content-center shadow-lg bg-white p-3" id="projects">
      <div class="container col-9">
        <div class="row mb-5">
          <h1 class="text-right my-5">...and help our community thrive.</h1>
        </div>
      </div>
    </div>

    <div class="w-75 d-flex justify-content-center shadow-lg bg-white p-3" id="join">
      <div class="container col-9">
        <div class="row mb-5">
          <h1 class="text-right my-5">Join us.</h1>

        </div>
      </div>
    </div>

    <div class="w-75 d-flex justify-content-center shadow-lg bg-white p-3" id="about">
      <div class="container col-9">

        <h1 class="text-center my-5">Meet the Core Team</h1>
        <div class="row mb-5">
          <div class="col-4" id="core-team-cards">
            <div class="card border-danger w-100 shadow-lg bg-white p-3 mb-5" style="width: 300px;">
                <%= image_tag("GD.png", class: "card-img-top", alt: "sample image", style: "height: 250px;") %>
                <div class="card-body text-center">
                    <h5 class="card-title">René Capella</h5>
                    <p class="card-text">President</p>
                </div>
            </div>
          </div>
          <div class="col-4" id="core-team-cards">
            <div class="card border-warning w-100 shadow-lg bg-white p-3 mb-5" style="width: 300px;">
                <%= image_tag("GD.png", class: "card-img-top", alt: "sample image", style: "height: 250px;") %>
                <div class="card-body text-center">
                    <h5 class="card-title">Bill Barry</h5>
                    <p class="card-text">Faculty Advisor</p>
                </div>
            </div>
          </div>
          <div class="col-4" id="core-team-cards">
            <div class="card border-success w-100 shadow-lg bg-white p-3 mb-5" style="width: 300px;">
                <%= image_tag("GD.png", class: "card-img-top", alt: "sample image", style: "height: 250px;") %>
                <div class="card-body text-center">
                    <h5 class="card-title">Lilith Caldwell</h5>
                    <p class="card-text">Vice Lead</p>
                </div>
            </div>
          </div>
          <div class="col-4" id="core-team-cards">
            <div class="card border-primary w-100 shadow-lg bg-white p-3 mb-5" style="width: 300px;">
                <%= image_tag("GD.png", class: "card-img-top", alt: "sample image", style: "height: 250px;") %>
                <div class="card-body text-center">
                    <h5 class="card-title">Beck Thompson</h5>
                    <p class="card-text">Community Lead</p>
                </div>
            </div>
          </div>
          <div class="col-4" id="core-team-cards">
            <div class="card border-danger w-100 shadow-lg bg-white p-3 mb-5" style="width: 300px;">
                <%= image_tag("GD.png", class: "card-img-top", alt: "sample image", style: "height: 250px;") %>
                <div class="card-body text-center">
                    <h5 class="card-title">Kristin Jue</h5>
                    <p class="card-text">Assistant Lead</p>
                </div>
            </div>
          </div>
          <div class="col-4" id="core-team-cards">
            <div class="card border-warning w-100 shadow-lg bg-white p-3" style="width: 300px;">
                <%= image_tag("GD.png", class: "card-img-top", alt: "sample image", style: "height: 250px;") %>
                <div class="card-body text-center">
                    <h6 class="card-title">Jardi Martinez Jordan</h6>
                    <p class="card-text">Technical Lead</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- holding us up away from the footer -->
    <div class="w-75 d-flex justify-content-center shadow-lg bg-white p-3" id="about" style="height: 100px;">
    </div>

  </div>
