<div class="d-flex flex-column align-items-center justify-content-center" >

  <%= image_tag("North-Hlth-Sci-Bldg900x416.jpg", class: "d-block w-100", alt: "North Seattle Campus") %>


  <div class="d-flex flex-column align-items-center justify-content-center"
       id="mainContent" >
    <div class="w-75 d-flex justify-content-around shadow-lg bg-white p-3" id="community" style="padding-top: 115px; min-width: 90%;">
      <div class="container-fluid col-md-12" height="500">
        <div class="d-flex justify-content-md-center align-items-md-center row mb-5" id="discord">
          <div class="col-md-6 text-center">
            <h1 style="margin-top: 20px;">We're a <span class="rounded" style="color: #4285F4; padding: 5px;">community</span> of students who came together... </h1>
          </div>
          <div class="col col-md-6" >
            <div class="card w-100 shadow bg-white p-3">
              <iframe src="https://discord.com/widget?id=564559681339785228&theme=dark"
                      width="100%"
                      height="350"
                      allowtransparency="true"
                      frameborder="0"
                      sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-75 d-flex justify-content-center shadow-lg bg-white" id="events" style="padding-top: 115px; min-width: 90%;">
      <div class="container-fluid col-md-12">
        <div class="row mb-5 justify-content-center text-center">
          <h1 class="my-5">...looking to build <span class="rounded" style="color: #EA4335; padding: 5px;">skills</span>...</h1>
        </div>
        <div class="row mb-5">
          <%= image_tag("allthetech.png", class: "d-block w-100 ml-3", alt: "Firebase Logo") %>
        </div>
      </div>

    </div>

    <div class="w-75 d-flex justify-content-center shadow-lg bg-white" id="about" style="padding-top: 115px; min-width: 90%;">
      <div class="container-fluid col-md-12">
        <div class="row justify-content-end text-center">
          <h1 class="my-5">...and <span class="rounded" style="color:  #FBBC04; padding: 5px;">help</span> our community thrive.</h1>
        </div>
        <%= image_tag("How-to-Become-Google-Developer-Students-ClubDSC-Lead.png", class: "w-100 shadow rounded", alt: "Collaborative") %>

        <div class="row justify-content-center align-items-center" style="margin-top: 110px; margin-bottom: 110px;">
          <h1 class="my-5"><a href="https://gdsc.community.dev/north-seattle-college/"><span class="btn-rounded" style="color: #34A853; padding: 15px;">Join us.</span></a></h1>
        </div>

        <h1 class="text-center my-5">Our Core Team</h1>
        <div class="row mb-5">
          <div class="col-md-4" id="core-team-cards">
            <div class="card border-danger w-100 shadow-lg bg-white p-3 mb-5" style="width: 300px;">
                <%= image_tag("GD.png", class: "card-img-top", alt: "sample image", style: "height: 200px;") %>
                <div class="card-body text-center">
                    <h5 class="card-title">René Capella</h5>
                    <p class="card-text">President</p>
                </div>
            </div>
          </div>
          <div class="col-md-4" id="core-team-cards">
            <div class="card border-warning w-100 shadow-lg bg-white p-3 mb-5" style="width: 300px;">
                <%= image_tag("GD.png", class: "card-img-top", alt: "sample image", style: "height: 200px;") %>
                <div class="card-body text-center">
                    <h5 class="card-title">Bill Barry</h5>
                    <p class="card-text">Faculty Advisor</p>
                </div>
            </div>
          </div>
          <div class="col-md-4" id="core-team-cards">
            <div class="card border-success w-100 shadow-lg bg-white p-3 mb-5" style="width: 300px;">
                <%= image_tag("GD.png", class: "card-img-top", alt: "sample image", style: "height: 200px;") %>
                <div class="card-body text-center">
                    <h5 class="card-title">Lilith Caldwell</h5>
                    <p class="card-text">Vice Lead</p>
                </div>
            </div>
          </div>
          <div class="col-md-4" id="core-team-cards">
            <div class="card border-primary w-100 shadow-lg bg-white p-3 mb-5" style="width: 300px;">
                <%= image_tag("GD.png", class: "card-img-top", alt: "sample image", style: "height: 200px;") %>
                <div class="card-body text-center">
                    <h5 class="card-title">Beck Thompson</h5>
                    <p class="card-text">Community Lead</p>
                </div>
            </div>
          </div>
          <div class="col-md-4" id="core-team-cards">
            <div class="card border-danger w-100 shadow-lg bg-white p-3 mb-5" style="width: 300px;">
                <%= image_tag("GD.png", class: "card-img-top", alt: "sample image", style: "height: 200px;") %>
                <div class="card-body text-center">
                    <h5 class="card-title">Kristin Jue</h5>
                    <p class="card-text">Public Relations Lead</p>
                </div>
            </div>
          </div>
          <div class="col-md-4" id="core-team-cards">
            <div class="card border-warning w-100 shadow-lg bg-white p-3" style="width: 300px;">
                <%= image_tag("GD.png", class: "card-img-top", alt: "sample image", style: "height: 200px;") %>
                <div class="card-body text-center">
                    <h6 class="card-title">Jardi Martinez Jordan</h6>
                    <p class="card-text">Technical Lead</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- holding us up away from the footer -->
    <div class="w-75 d-flex justify-content-center shadow-lg bg-white p-3" style="height: 110px; min-width: 90%;">
    </div>

  </div>
