<div class="d-flex flex-column align-items-center justify-content-center"
     id="mainContent">

  <div class="w-75 d-flex justify-content-around shadow-lg bg-white p-3" style="height:100vh;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Client</th>
          <th scope="col">Client Contact</th>
          <th scope="col">Max Team Size</th>
          <th scope="col">Level of Difficulty</th>
          <th scope="col">Status</th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <th scope="row"><%= project.id %></th>
            <td><%= project.title %></td>
            <td><%= project.client.name %></td>
            <td><%= project.client.phone_number %></td>
            <td><%= project.team_size_limit%></td>
            <td><%= project.project_type.name %></td>
            <td><%= project.status.name %></td>
            <td><%= link_to "Show", project %></td>

          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>
