<!DOCTYPE html>
<html>
  <head>
    <title>Praise the Loaf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag   %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h1>TEST</h1>
      <h2>Oh, hai!</h2>
      <% if logged_in? %>
          <h3>You are logged in, <%= current_user.username %>, and it's great you stopped by to say hello. Logout IF YOU MUST</h3>
          <%= button_to "Logout", '/logout', method: :post%>
      <% else %>
        <h3>It's nice to see you: login or sign up.</h3>
        <%= button_to "Login", login_path, method: :get%>
        <%= button_to "Sign Up", new_user_path, method: :get%>
      <% end %>
      <br/>
    </div>
    <%= yield %>
  </body>
</html>
