<!DOCTYPE html>
<html>
  <head>
    <title>Praise the Loaf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag   %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e5bcf3436b.js" crossorigin="anonymous"></script>
  </head>

  <body style="background: url(<%= image_path('paper-texture-structure-stained-paper.jpg')%>) repeat-y center center fixed;">

  <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow-lg justify-content-between" id="nav" style="min-height:110px;">
      <div class="container-fluid d-flex justify-content-between">
        <a class="nav-item navbar-brand" href="<%=welcome_path%>">
          <%= image_tag('logotransparent.png', alt: 'logo', style: 'height: 90px; width: 90px;') %>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		        <span class="navbar-toggler-icon"></span>
	      </button>

        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
          <div class="navbar-nav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="#events" href="#events">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#community">Community</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About Us</a>
              </li>
              <%= link_to "Become a Member", new_user_path,  class: "nav-item btn btn-sm btn-outline-secondary", method: :get %>
              <% if logged_in? %>
                <li class="nav-item">
                  <a class="nav-link" href="#events"><span style="color: green;">Projects</span></a>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="navbar-nav ml-auto d-flex justify-content-between">
            <% if logged_in? %>
            <div class="m-auto dropdown">
              <a href="#" data-toggle="dropdown" class="btn btn-success dropdown-toggle user-action text-center">

                Oh hai, <%= current_user.username %>
                <b class="caret"></b>
              </a>
              <div class="dropdown-menu dropdown-menu-lg-end">
                <%= link_to "Logout", '/logout', class: "dropdown-item btn text-center", id: "logout-link",method: :post%>
              </div>
            <% else %>
            <div class="nav-item m-auto">
              <%= link_to "Log in", '/login',  class: "nav-item btn btn-sm btn-outline-success", method: :get %>
            <% end %>
          </div>
        </div>

      </div>
    </nav>

    <%= yield %>
    <footer class="w-100 navbar-light bg-light shadow-lg text-center fixed-bottom"">
      <!-- Grid container -->
      <div class="text-center p-3 shadow-lg">
        <div class="container">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #3b5998;"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #55acee;"
              href="https://twitter.com/NscDsc"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>

            <!-- Linkedin -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #0082ca;"
              href="https://www.linkedin.com/company/north-seattle-college-google-dsc/"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <!-- Github -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #333333;"
              href="https://github.com/NSC-Computer-Science-Club"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        © 2021 Copyright:
        <a href="https://github.com/NSC-Computer-Science-Club">North Seattle CS Club</a>
      </div>
      <!-- Grid container -->

    </footer>
  </body>
</html>
