<!DOCTYPE html>
<html>
  <head>
    <title>Loaf-er</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="brand">
        <h1>Lorem Ipsum</h1>
      </div>

      <div class="search">
        <div class="search-field">
          <p>I'm a search field</p>
        </div>
        <div class="search-icon">
          <p>:)</p>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
